<div class="category-container" [class.blur]="showForm">
  <div class="header">
    <h1 class="main-title">Category Section</h1>
    <button class="add-category-btn" (click)="toggleForm()">+ Add New</button>
  </div>
  
  <ng-container *ngIf="getIncomeCategory().length || getExpenseCategory().length; else noCategory">
    <!-- Income Section -->
    <div class="category-section">
      <h2 class="category-title income-title">Income Categories</h2>

      <ng-container *ngIf="getIncomeCategory().length > 0; else noIncome">
        <div class="responsive-table">
          <table class="category-table">
            <tbody>
              <tr *ngFor="let category of getIncomeCategory()">
                <td class="category-row">
                  <span>{{ category.name }}</span>
                  <div class="action-buttons">
                    <button class="btn btn-sm btn-outline-primary" (click)="editCategoryById(category)">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteCategory(category._id)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-template #noIncome>
        <div class="alert-message">No Income Categories Available.</div>
      </ng-template>
    </div>
    <!-- Expense Section -->
    <div class="category-section">
      <h2 class="category-title expense-title">Expense Categories</h2>
      <ng-container *ngIf="getExpenseCategory().length > 0; else noExpense">
        <div class="responsive-table">
          <table class="category-table">
            <tbody>
              <tr *ngFor="let category of getExpenseCategory()">
                <td class="category-row">
                  <span>{{ category.name }}</span>
                  <div class="action-buttons">
                    <button class="btn btn-sm btn-outline-primary" (click)="editCategoryById(category)">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteCategory(category._id)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-template #noExpense>
        <div class="alert-message">No Expense Categories Available.</div>
      </ng-template>
    </div>
  </ng-container>

  <!-- If both income and expense categories are empty -->
  <ng-template #noCategory>
    <div class="alert-message text-center">No Categories Found.</div>
  </ng-template>
</div>

<!--  Form -->
<div class="show-form" *ngIf="showForm">
  <div class="modal-content">
    <span class="close-button" (click)="closeForm()">Close</span>
    <section class="form-section">
      <div class="main-container">
        <div class="form-container">
          <h2 class="form-title">Add Category</h2>
          <form [formGroup]="categoryForm">
            <input formControlName="name" type="text" placeholder="CATEGORY NAME" />
            <div class="error" *ngIf="form['name'].invalid && form['name'].touched">
              <small *ngIf="form['name'].errors?.['required']">Name is required</small>
            </div>
            <select formControlName="type">
              <option value="">Category Type</option>
              <option *ngFor="let category of  categoryType" [value]="category">{{category}}</option>
            </select>
            <button *ngIf="!isEditCategory" class="add-btn" type="submit" (click)="addCategory()"
              [disabled]="categoryForm.invalid">Add Category</button>
            <button *ngIf="isEditCategory" class="add-btn" type="submit" (click)="updateCategory()">Update</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>